@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.blog {
  padding: 80px 0 120px 0;

  .container {

    .blog-title {
      @include head-lora-38;
      padding-bottom: 40px;
    }

    .blog-head {
      display: flex;
      justify-content: space-between;
      align-items: baseline;

      .blog-applied-filters {

        display: flex;
        flex-wrap: wrap;

        .blog-applied-filter {
          border-radius: 5px;
          border: 2px solid $text-color-blue;
          background: #FFF;
          color: $text-color-blue;
          font-family: ' Montserrat', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          padding: 8px 20px;
          display: flex;
          align-items: center;
          margin-right: 20px;
          margin-bottom: 20px;

          a {
            text-decoration: none;
            cursor: pointer;
            display: flex;
            padding-left: 8px;
          }
        }
      }

      .blog-sorting {
        margin-bottom: 56px;
        width: 148px;
        box-sizing: border-box;
        position: relative;
        z-index: 5;
        transition: width 0.35s ease, background-color 0.35s ease;

        .blog-sorting-head {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: $text-color-dark-blue;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          padding: 0;
          transition: background-color 0.35s ease, padding 0.35s ease, border-radius 0.35s ease;

          span {
            padding-right: 8px;
            width: 120px;
          }

          svg {
            transition: transform 0.35s ease;
          }
        }

        .blog-sorting-body {
          position: absolute;
          width: 100%;
          z-index: 3;
          overflow: hidden;
          max-height: 0;
          opacity: 0;
          transition: max-height 0.4s ease, opacity 0.3s ease;
          padding: 0 23px;
          border-radius: 0 0 5px 5px;
          border: 2px solid #B9D5FD;
          background: #FFF;
          box-sizing: border-box;

          .blog-sorting-item {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            z-index: 3;
            margin-bottom: 24px;

            &:last-child {
              margin: 0;
            }

            .blog-sorting-item-text {
              color: #BEBEBE;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;

              &.active {
                color: $text-color-dark-blue;
              }
            }
          }
        }

        &.open {
          width: 257px;
          transition: width 0.35s ease;

          .blog-sorting-head {
            background: #B9D5FD;
            border-radius: 5px 5px 0 0;
            padding: 12px 23px;
          }

          .blog-sorting-body {
            display: block;
            max-height: 500px;
            opacity: 1;
            padding: 17px 23px;
          }

          .blog-sorting-head svg {
            transform: rotate(180deg);
          }
        }
      }
    }

    .blog-carts {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 40px 25px;
    }

    .pagination {
      padding-top: 60px;
      display: flex;
      align-items: center;
      justify-content: center;

      .pagination-arrow {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 10px;
          height: 18px;
        }

        &.disabled {
          opacity: 0.5;
        }
      }

      .pagination-pages {
        padding-right: 40px;
        padding-left: 40px;
        display: flex;
        gap: 20px;
        align-items: center;

        a.pagination-page {
          padding: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          cursor: pointer;
          color: $text-color-dark-blue;
          text-align: center;
          font-family: 'Montserrat',sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;

          &.active {
            color: #B9D5FD
          }
        }
      }
    }
  }
}


.blog-sorting.open .blog-sorting-head svg {
  transform: rotate(180deg);
}
