<app-slider></app-slider>

<section class="products">
  <div class="container">
    <div class="products-title">Услуги, которые мы предлагаем</div>
    <div class="products-blocks">
      <div class="products-block">
        <div class="product-block-image">
          <img src="assets/images/products/product1.png" alt="">
        </div>
        <div class="product-block-title">
          Создание сайтов
        </div>
        <div class="product-block-description-size">
          В краткие сроки мы создадим качественный и самое главное продающий сайт для продвижения Вашего бизнеса!
        </div>
        <div class="product-block-price-btn">
          <p>От 7 500₽</p>
          <button class="button">Подробнее</button>
        </div>
      </div>
      <div class="products-block">
        <div class="product-block-image">
          <img src="assets/images/products/product2.png" alt="">
        </div>
        <div class="product-block-title">
          Продвижение
        </div>
        <div class="product-block-description">
          Вам нужен качественный SMM-специалист или грамотный таргетолог? Мы готовы оказать Вам услугу “Продвижения” на наивысшем уровне!
        </div>
        <div class="product-block-price-btn">
          <p>От 3 500₽</p>
          <button class="button">Подробнее</button>
        </div>
      </div>
      <div class="products-block">
        <div class="product-block-image">
          <img src="assets/images/products/product3.png" alt="">
        </div>
        <div class="product-block-title">
          Реклама
        </div>
        <div class="product-block-description">
          Без рекламы не может обойтись ни один бизнес или специалист. Обращаясь к нам, мы гарантируем быстрый прирост клиентов за счёт правильно настроенной рекламы.
        </div>
        <div class="product-block-price-btn">
          <p>От 1 000₽</p>
          <button class="button">Подробнее</button>
        </div>
      </div>
      <div class="products-block">
        <div class="product-block-image">
          <img src="assets/images/products/product4.png" alt="">
        </div>
        <div class="product-block-title">
          Копирайтинг
        </div>
        <div class="product-block-description">
          Наши копирайтеры готовы написать Вам любые продающие текста, которые не только обеспечат рост охватов, но и помогут выйти на новый уровень в продажах.
        </div>
        <div class="product-block-price-btn">
          <p>От 750₽</p>
          <button class="button">Подробнее</button>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about">
  <div class="container">
    <div class="about-image">
      <img src="assets/images/page/advantages.png" alt="Люди">
    </div>
    <div class="about-content">
      <div class="about-title">
        Кто мы и чем мы занимаемся?
      </div>
      <div class="about-description">
        <span>АйтиШторм</span> — это ваш помощник №1 при решении таких вопросов, как продвижение в сети, разработка сайтов для бизнеса и личного бренда, сторисмейкинг, копирайтинг, маркетинг, разработка визуальной концепции и создание инфопродуктов. Компания была основана в 2019 году и за всё это время смогла выйти в ТОП-10 агенств, предлагающих услуги продвижения в сети.
      </div>
      <div class="about-advantages">
        <div class="about-advantages-title">
          Наши преимущества
        </div>
        <div class="about-advantages-blocks">
          <div class="about-advantages-block">
            <div class="about-advantages-block-number">
              <span>1</span>
            </div>
            <div class="about-advantages-block-description">
              <span>Мастерски вовлекаем аудиторию в процесс.</span>
              Мы увеличиваем процент вовлечённости за короткий промежуток времени.
            </div>
          </div>
          <div class="about-advantages-block">
            <div class="about-advantages-block-number">
              <span>2</span>
            </div>
            <div class="about-advantages-block-description">
             <span> Разрабатываем бомбическую визуальную концепцию.</span>
              Наши специалисты знают как создать уникальный образ вашего проекта.
            </div>
          </div>
          <div class="about-advantages-block">
            <div class="about-advantages-block-number">
              <span>3</span>
            </div>
            <div class="about-advantages-block-description">
              <span>Создаём мощные воронки с помощью текстов.</span>
              Наши копирайтеры создают не только вкусные текста, но и классные воронки.
            </div>
          </div>
          <div class="about-advantages-block">
            <div class="about-advantages-block-number">
              <span>4</span>
            </div>
            <div class="about-advantages-block-description">
              <span>Помогаем продавать больше.</span>
              Мы не только помогаем разработать стратегию по продажам, но также корректируем её под нужды заказчика.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
