@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";


.products {

  padding-top: 120px;
  padding-bottom: 120px;

  .container {

    .products-title {
      @include head-lora-38;
      padding-bottom: 40px;
    }

    .products-blocks {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 25px;

      .products-block {
        width: 290px;
        height: 498px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
        padding: 0;


        .product-block-image {

          width: 291px;
          height: 291px;
          border-radius: 5px;
          padding-bottom: 15px;

          img {
            background-size: cover;
            background-position: center;
          }
        }

        .product-block-title {
          color: $text-color-blue;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          padding-bottom: 10px;
        }

        .product-block-description {
          color: $text-color-dark-blue;
          font-family: 'Montserrat', sans-serif;
          font-size: 14px;
          font-weight: 400;
          line-height: 130%;
          padding-bottom: 15px;
          width: 100%;
          max-width: 571px; /* твоя нужная ширина */
          height: 80px; /* фиксируем высоту */
          text-overflow: ellipsis;
        }

        .product-block-price-btn {
          display: flex;
          align-items: center;
          justify-content: space-between;

          p {
            color: #709FDC;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: 130%; /* 26px */
          }

          button {

            width: 163px;
          }
        }
      }
    }
  }
}


.about {
  padding-bottom: 120px;

  .container {
    display: flex;
    justify-content: space-between;

    .about-image {
      width: 453px;
      height: 460px;
      margin-right: 68px;

      img {
        background-size: cover;
        background-position: center;
      }
    }

    .about-content {

      .about-title {
        @include head-lora-38;
        padding-bottom: 20px;
      }

      .about-description {
        color: #1E1A2B;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;

        span {
          font-weight: 600;
        }
      }

      .about-advantages {
        padding-top: 40px;

        .about-advantages-title {
          color: $text-color-blue;
          font-family: 'Lora', sans-serif;
          font-size: 26px;
          font-style: normal;
          font-weight: 400;
          padding-bottom: 20px;
        }

        .about-advantages-blocks {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, auto);
          column-gap: 72px;
          row-gap: 20px;

          .about-advantages-block {
            display: flex;
            align-items: center;
            gap: 20px;

            .about-advantages-block-number {
              position: relative;
              width: 40px;
              height: 40px;
              border-radius: 50%;
              background: #B9D5FD; // синий кружок
              flex-shrink: 0;

              span {
                position: absolute;
                top: -20px; /* немного выходит сверху */
                left: 50%;
                transform: translateX(-50%);
                color: $text-color-blue;
                font-family: 'Lora', sans-serif;
                font-size: 50px;
                font-style: normal;
                font-weight: 500;
              }
            }

            .about-advantages-block-description {
              color: #1E1A2B;
              font-family: 'Montserrat', sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 130%;
              max-width: 256px;

              span {
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }
}


.popular-article {

  .container {

    .popular-article-title {
      @include head-lora-38;
      padding-bottom: 40px;
    }

    .article-cart-items {
      display: flex;
      gap: 25px;
    }

    .popular-article-link {
      display: flex;
      justify-content: end;
      padding-top: 40px;

      .popular-article-link-content {
        display: flex;
        gap: 14px;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        p {
          color: $text-color-blue;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          margin: 0;

        }
      }
    }
  }
}


.review {
  margin-top: 130px;
  margin-bottom: 130px;

  .container {

    .review-title {
      @include head-lora-38;
      margin-bottom: 50px;
    }

    .review-carousel {
      position: relative;

      .review-item {
        width: 396px;
        height: 267px;
        padding: 30px;
        border: 1px solid $text-color-blue;
        border-radius: 10px;
        box-sizing: border-box;

        .review-item-head {
          display: flex;
          align-items: center;

          .review-item-image {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-position: center;
            background-size: cover;
            margin-right: 26px;
          }

          .review-item-name {
            font-family: 'Montserrat', sans-serif;
            font-weight: 600;
            font-size: 18px;
            color: $text-color-blue;
          }
        }

        .review-item-text {
          margin-top: 15px;
          font-size: 16px;
          line-height: 140%;
          color: $text-color-dark-blue;
        }
      }

      .review-arrows {
        display: flex;

        a {
          top: calc(50% - 5px);
          display: flex;
          position: absolute;
          cursor: pointer;

          &.move-backward {
            left: -41px;
          }

          &.move-forward {
            right: -41px;
          }
        }
      }
    }
  }
}


.map {

  padding-bottom: 120px;
  .container {

    display: flex;


    .map-action iframe {
      vertical-align: bottom;
      padding-right: 26px;
    }

    .map-content {

      .map-content-title {
        @include head-lora-38;
        padding-bottom: 20px;
      }

      .map-content-blocks {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .map-content-block {

          h2 {
            color: $text-color-blue;
            font-family: 'Montserrat', sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            margin: 0;
            padding-bottom: 10px;
          }

          p {
            margin: 0;
            color: $text-color-dark-blue;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
            max-width: 500px;
          }

          .map-content-icons {
            display: flex;
            gap: 20px;
          }

        }
      }
    }
  }
}
