@import "../../../assets/styles/variables";
@import "../../../assets/styles/mixins";

.privacy {
  padding-bottom: 60px;
  padding-top: 60px;

  .container {

    .privacy-text-block {
      color: #071739;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%;

      h2 {
        color: #709FDC;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%;
        margin: 0;
        padding-bottom: 20px;
        padding-top: 20px;
      }

      h1 {
        color: #709FDC;
        font-family: 'Lora',sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
        margin: 0;
        padding-top: 60px;
        padding-bottom: 20px;
      }

      p {
        color: #071739;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%;
      }
    }
  }
}
