<div class="article-cart" *ngIf="articleTops">

    <div class="article-cart-tag">{{ articleTops.category }}</div>

    <div
      class="article-cart-image"
      [style.backgroundImage]="'url(' + serverStaticPath + articleTops.image + ')'">
    </div>

    <div class="article-cart-title">{{ articleTops.title }}</div>
    <div class="article-cart-description">
    <span *ngIf="!isExpanded">
      {{ articleTops.description | shortenDescription:150 }}
    </span>
      <span *ngIf="isExpanded">
      {{ articleTops.description }}
    </span>
    </div>
  <div class="article-cart-link">
    <a [routerLink]="['/blog', articleTops.url]" routerLinkActive="active">Читать дальше</a>
  </div>
</div>

