@import "../../../../assets/styles/variables";

.header {
  padding-top: 40px;
  padding-bottom: 40px;

  .container {

    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-menu  {

      nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        gap: 30px;

        li {
          list-style: none;
          cursor: pointer;

          a {
            color: $text-color-dark-blue;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }

    .header-phone {
      text-decoration: none;
      color: $text-color-blue;
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }

    .header-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 7px;
      cursor: pointer;
      position: relative;


      .header-actions-icon {
        display: contents;
      }

      .header-actions-title {
        color: $text-color-dark-blue;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        user-select: none;
      }
      .dropdown-menu {
        position: absolute;
        right: 0;
        top: calc(100% + 6px);
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 6px;
        box-shadow: 0 2px 8px rgba(0,0,0,0.15);
        min-width: 120px;
        z-index: 100;
      }
      .dropdown-item {
        padding: 12px 17px;
        text-align: center;
        font-size: 14px;
        color: $text-color-dark-blue ;
        cursor: pointer;
        transition: background 0.2s;

        &:hover {
          background: #f5f5f5;
        }
      }
    }
  }
}
