@import "../../../../assets/styles/variables";


.footer {
  padding-top: 40px;
  padding-bottom: 54px;
  background-color: #B9D5FD;

  .container {

    .footer-top {
      display: flex;
      align-items: center;

      .footer-menu {
        margin-left: 43px;

        nav ul {
          margin: 0;
          padding: 0;
          display: flex;
          gap: 30px;

          li {
            list-style: none;
            cursor: pointer;

            a {
              color: $text-color-dark-blue;
              font-family: 'Montserrat', sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              text-decoration: none;
            }
          }
        }
      }
    }

    .footer-down {
      margin-top: 40px;
      display: flex;
      align-items: start;
      gap: 60px;

      .footer-down-block{
        max-width: 254px;

        .footer-down-title {
          color: $text-color-blue;
          font-family: 'Montserrat', sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          padding-bottom: 10px ;
        }

        .footer-down-text {
          color: $text-color-dark-blue;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
        }

        a {

          text-decoration: none;
          .little-button {
            padding: 10px 20px !important;
            margin-top: 10px;
          }
        }


        .footer-down-actions {
          margin-top: 5px;
          display: flex;
          gap: 12px;

          svg {
            cursor: pointer;
          }
        }
      }
    }

    .footer-copyright {
      color: $text-color-blue;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      padding-top: 6px;
    }
  }
}


a.active-link {
  color: #709fdc !important; // синий (можешь подставить свой $text-color-blue)
  font-weight: 600;
  text-decoration: underline; // или border-bottom, если хочешь подчёркивание
}

