@import "variables";


.auth-form {
  margin-top: 120px;
  margin-bottom: 120px;

  .auth-title {
    color: $text-color-blue;
    font-family: 'Lora', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 40px;
  }

  .auth-inputs {
    margin-bottom: 40px;

    .auth-input {
      margin-bottom: 5px;

      .input {
        width: 422px;
        margin-bottom: 5px;
      }
    }

    .auth-checkbox {
      max-width: 422px;
      display: flex;
      align-items: baseline;
      margin-top: 5px;

      input {
        margin: 0;
      }

      label {
        font-size: 14px;
        line-height: 130%;
        margin-left: 10px;

        a {
          color: $text-color-blue;
          text-decoration: none;
        }
      }
    }
  }

  .auth-button {
    margin-top: 40px;

    button.button {
      width: 422px;
    }
  }

  .auth-link {
    margin-top: 10px;
    font-size: 14px;
    color: #1E1A2B;

    a {
      text-decoration: none;
      margin-left: 7px;
      color: $text-color-blue;
    }
  }
}
